# Environment variables
.env

# Dependencies
node_modules/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Docker
.docker/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
